{{> sidebarNav }}

<div class="card" id="profilePageCardMain" style="width: 85%">
    <div class="container" id="mainContent2" style="margin-right:12%;">

        <button class="tablink" style="font-size: 1.1vw;" onclick="openPage('aboutMe', this, 'white')" id="defaultOpen">Account Info</button>
        <button class="tablink displayUserArt" style="font-size: 1.1vw;" onclick="openPage('artwork', this, 'white')">Artwork</button>
        <button class="tablink" style="font-size: 1.1vw;" onclick="openPage('manageUser', this, 'white')">ManageUser</button>
        <button class="tablink listAllStudents" style="font-size: 1.1vw;" onclick="openPage('allStudents', this, 'white')">List Students</button>
        <button class="tablink" style="font-size: 1.1vw;" onclick="openPage('Auction', this, 'white')">Auction Settings</button>

        <div id="aboutMe" class="tabcontent">

            <div class="hero-image"></div>


            <div class="card" id="profilePageAboutMeCard" style="width: 100%; margin-top: 0;">
                <div>
                    <h3>Account Information</h3>
                    <hr>
                    <form class="signup col s12 m12 l12">
                            <div class="welcomMessage col s10">
                                <h3>Hello, {{first_name}} {{last_name}}</h3>
                            </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled id="account_id" type="text" value="{{id}}">
                                <label class="active" for="id">Account ID</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="First Name" id="firstname-input" type="text"
                                    value="{{first_name}}">
                                <label class="active" for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="lastname-input" type="text" value="{{last_name}}">
                                <label class="active" for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="address-input" type="text" value="{{address1}}">
                                <label class="active" for="address">Address</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="address2-input" type="text" value="{{address2}}">
                                <label class="active" for="address2">Address2</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="city-input" type="text" value="{{city}}">
                                <label class="active" for="city">City</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="state-input" type="text" value="{{state}}">
                                <label class="active" for="state">State</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="zipcode-input" type="text" value="{{zip}}">
                                <label class="active" for="zipCode">Zip Code</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="phone-input" type="tel" value="{{phone}}">
                                <label class="active" for="phoneNumber">Tel Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="email-input" type="text" value="{{email}}">
                                <label class="active" for="email">Email</label>
                            </div>
                        </div>

                        <hr>
                        <h3 style="font-size: 1.7vw;">School Afilliation</h3>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="school-input" type="text" value="{{school}}">
                                <label class="active" for="school">School</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="role-input" type="text" value="{{role}}">
                                <label class="active" for="role">Role</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default red darken-4" id="updateButton">UPDATE PROFILE</button><br><br>
                        <button type="submit" class="btn btn-default red darken-4" id="refreshButton">REFRESH</button>

                        <hr>
                        {{#if active}}
                        <div class="row emailVal"></div>
                        {{else}}
                        <div class="row emailVal">
                        <h3 class="emailVal" style="font-size: 1.5vw;">Email Validation</h3>
                            This is the email we have from the Sign Up Page: <span id="email" value="{{email}}"><b>{{email}}</b>. </span>
                            Please retype it below to verify.
                        <span id="emailmsg" style="color:red;font-weight:bold"></span>
                        
                            <input class="emailVal" id="emailinput" type="text" class="validate emailVal hoverable">
                            <label class="active" for="email">Enter Your Email Address</label>
                        </div>
                        <button type="submit" class="btn btn-default red darken-4 enableOnInput emailVal" disabled="disabled" id="validateEmailButton">VALIDATE
                            EMAIL</button>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/members.js"></script>
<!-- Artwork page -->
        <div id="artwork" class="tabcontent">
            <div class="hero-image"></div>
            <div class="card" id="profilePageAboutMeCard" style="width: 100%; margin-top: 0;">
                {{#if active}}   
                <div class="row">
                
                </div>
                    <div class="column">
                    </div>
                {{> upload }}
                    <div class="row" id="startGal">
                    {{else}}
                            <p style="text-align: center">Please got to Account Info and validate your account by verifying your email address.</p>
                            <p style="text-align: center"><b>You will find it at the bottom of the Account Info page.</b></p>
                            <button class="btn-small" onclick="openPage('aboutMe', this, 'white')">Account Info</button> 
                            
                            {{/if}}
                    </div>
            </div>
        </div>
<!-- Admin User Account Info -->
        <div id="manageUser" class="tabcontent">
            <div class="hero-image">
            </div>

            <div class="card" id="profilePageAboutMeCard" style="width: 100%; margin-top: 0;">
                <h3>User Management</h3>
                <div>
                    <hr>
                    <h6>Search User by Email</h6>
                    <nav>
                        <div class="nav-wrapper">
                            <form id="userSearch">
                                <div class="input-field hoverable" id="searchblock">
                                    <input id="searchforUser" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            <h3 id="err-msg"></h3>
                            </form>
                        </div>
                    </nav>
                    <div class="row">

                    </div>
                    <hr>
                    <h3 style="font-size: 1.7vw;">User Account Information</h3>
                    <hr>
                    <form class="signup col s12 m12 l12">
                        <div class="row">
                            <div class="input-field col s5">
                                <input disabled id="searchedAccountid" type="text" value="{{searchedId}}">
                                <label class="active" for="id">Account ID</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="First Name" id="searchedFirstnameinput" type="text"
                                    value="{{searchedFirst_name}}">
                                <label class="active" for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="searchedLastnameinput" type="text" value="{{searchedLast_name}}">
                                <label class="active" for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="searchedAddressinput" type="text" value="{{searchedAddress1}}">
                                <label class="active" for="address">Address</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="searchedAddress2input" type="text" value="{{searchedAddress2}}">
                                <label class="active" for="address2">Address2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="searchedCityinput" type="text" value="{{searchedCity}}">
                                <label class="active" for="city">City</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="searchedStateinput" type="text" value="{{searchedState}}">
                                <label class="active" for="state">State</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="searchedZipcodeinput" type="text" value="{{searchedZip}}">
                                <label class="active" for="zipCode">Zip Code</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="searchedPhoneinput" type="tel" value="{{searchedPhone}}">
                                <label class="active" for="phoneNumber">Tel Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="searchedEmailinput" type="email" value="{{searchedEmail}}">
                                <label class="active" for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                        <h3 style="font-size: 1.7vw;">School Affiliation</h3>
                                <input disabled id="searchedSchoolinput" type="text" value="{{searchedSchool}}">
                                {{!-- <label class="active" for="school">School</label> --}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="searchedRoleinput" type="text" value="{{searchedRole}}">
                                <label class="active" for="role">Role</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default teal darken-4 hoverable" id="updateUserButton">UPDATE
                            USER</button>
                        <button type="submit" data-target="delete-account-modal"
                            class="btn btn-default red darken-4 modal-trigger hoverable" id="deleteButton">DELETE USER</button>
                        <hr>
                    </form>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="FileAction-modal" class="modal">
                <div class="modal-content">
                    <h4>File Activity</h4>
                    <p><b>The File {{status.art_name_input}} was deleted successfully!</b></p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            {{!-- File Modal --}}
            <div id="upload-file-modal" class="modal">
                <div class="modal-content">
                    <h4>Confirmation</h4>
                    <div class="modal-header">
                        <h6> File Upload of {{{art_name}}}:</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default green darken-4" id="cancel-delete">CLOSE</button>
                    </div>
                </div>
            </div>
        
        {{!-- Delete User Account Confirmation Modal --}}
            <div id="delete-account-modal" class="modal">
                <div class="modal-content">
                    <h4>Confirmation</h4>
                    <div class="modal-header">
                        <h6> Are you sure you want to delete {{{emailSearched}}}'s account?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default red darken-4" id="confirm-delete">YES</button>
                        <button type="submit" class="btn btn-default green darken-4" id="cancel-delete">CANCEL</button>
                    </div>

                </div>

            </div>
        </div>

        <!-- Auction timers and Bids -->
        <div id="Auction" class="tabcontent">
            <div class="hero-image"></div>
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                        <div class="card-content">
                            <span class="card-title">Current Auctions</span>
                            <div id="auction-list">
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                            </div>
                            <button type="submit" data-target="delete-auction-row-modal" class="btn btn-default red darken-4 modal-trigger hoverable" id="deleteRowsButton">DELETE Selected Rows</button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                    <h3>Auction Settings</h3>
                    <p>Specifically for {{school}} sponsored by {{first_name}} {{last_name}}</p>
                        <input disabled id="account_id" type="text" value="{{id}}">
                        <label class="active" for="id">Account ID</label>
                    <p>Set Auction ID's and timers here.</p>
                    <div class="input-field col s6">
                    <p>
                        <label>
                            <input class="with-gap" name="chooseSchool" type="radio" value="{{school}}" checked required/>
                            <span>Only {{school}}</span>
                        </label>
                        <label>
                            <input class="with-gap" name="chooseSchool" type="radio" value="any" required/>
                            <span>Any School</span>
                        </label>
                    </p>
                    </div>
                
                  <div class="row">
                    <form class="auctionData col s12">
                    <div class="row">
                        <div class="input-field col s6">
                        <input type="text" placeholder="Auction Identifier" id="auctionId" name="auctionId" class="validate" required>
                        <label for="auctionId">Auction Identifier</label>
                        </div>
                        <div class="input-field col s6">
                        <input type="text" id="charityName" name="charityName" class="validate" required>
                        <label for="charity_name">Charity Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                        <input type="text" id="dateAuctionStart" name="dateAuctionStart" class="datepicker" placeholder="Date of Auction start">
                        <label for="dateAuctionStart">Date/Time of Auction Start</label>
                        </div>
                        <div class="input-field col s6">
                        <input type="text" placeholder="Start Time" id="timeAuctionStart" name="timeAuctionStart" class="timepicker">
                        <label for="timeAuctionStart"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                        <input type="text" value="Date of Auction stop" id="dateAuctionStop"name="dateAuctionStop" class="datepicker">
                        <label for="dateAuctionStop">Date/Time of Auction Stop</label>
                        </div>
                        <div class="input-field col s6">
                        <label for="time_auction_stop"></label>
                        <input type="text" placeholder="Stop Time" id="timeAuctionStop" name="timeAuctionStop" class="timepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                        Auction Total Time: 
                        <div class="input-field inline">
                            <p placeholder="Auction Time" id="auction_total_time">Expired</p>
                        </div>
                        </div>
                    </div>
                    <button type="submit" 
                            class="btn btn-default teal darken-4 hoverable" 
                            id="auctionBtn" value="Create Auction">Submit Auction Info</button> 
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete Auction Modal Structure -->
        <div id="delete-auction-modal" class="modal">
            <div class="modal-content">
                <h4>Delete Auctions</h4>
                <div class="modal-header">
                    <h6>Are you sure you want to delete the selected auctions?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn red darken-4 waves-effect waves-light" id="confirm-delete-auctions">Delete</button>
                    <button type="button" class="btn green darken-4 waves-effect waves-light modal-close">Cancel</button>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="/js/auctionData.js"></script>
        <!-- list students by school -->
        <div id="allStudents" class="tabcontent">
            <div class="hero-image">
            </div>
                <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                    <h3 style="text-align: center">User List for</h3><h3 style="text-align: center">{{school}}</h3>
                    <input disabled id="Schoolinput" type="text" value="{{school}}">
                    <div class="row" id="userTable">
                        
                    </div>
                    <button type="submit" data-target="delete-account-row-modal" class="btn btn-default red darken-4 modal-trigger hoverable" id="deleteRowsButton">DELETE Selected Rows</button>
                </div>
        </div>
                <!-- list students by school -->
        <div id="allAuctions" class="tabcontent">
            <div class="hero-image">
            </div>
                <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                    <h3 style="text-align: center">Auction Lists for</h3><h3 style="text-align: center">{{school}}</h3>
                    <input disabled id="auctionId" type="text" value="{{school}}">
                    <div class="row" id="auctionTable">
                        
                    </div>
                    <button type="submit" data-target="delete-auction-row-modal" class="btn btn-default red darken-4 modal-trigger hoverable" id="deleteRowsButton">DELETE Selected Rows</button>
                </div>
        </div>
    </div>
</div>

<!-- Container for the image gallery -->
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    /* Styling for Auctions List */
        .badge {
    min-width: 80px;
    text-align: center;
    }

    #auction-list table {
    margin-top: 20px;
    }

    #auction-list .badge {
    border-radius: 2px;
    padding: 5px 12px;
    color: white;
    }

    .progress {
    margin: 20px 0;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 0
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    /*the nabar*/




    /*About me page style*/

    {{!-- .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".resources/webpage/Organizing-Your-Office-With-Wall-Art.jpg");
        height: 240px;

        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: round;

    } --}}

    .profilePic {
        border-radius: 50%;
        height: 50%;
        width: 18%;
        position: absolute;
        z-index: 3;
        bottom: -30px;
        right: 25vw;
        border: 5px solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #profilePageAboutMeCard {
        width: 100%;
        height: 100%;
    }

    #abcd {
        width: 100%;
    }
</style>

<script>
    //profile card
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

        $(document).ready(function () {
            // Initialize datepicker with specific format
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoClose: true,
                showClearBtn: true,
                defaultDate: new Date(),
                setDefaultDate: false
            });

            // Initialize timepicker
            $('.timepicker').timepicker({
                twelveHour: false,
                showClearBtn: true,
                defaultTime: 'now',
                autoClose: true,
                onSelect: function(hour, minute) {
                    // Ensure two digits for hour and minute
                    const formattedTime = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
                    this.el.value = formattedTime;
                    // Trigger change event to recalculate duration
                    $(this.el).trigger('change');
                }
            });
        // Calculate the total time for an auction based on start and end date/time inputs
        $("#dateAuctionStart, #timeAuctionStart, #dateAuctionStop, #timeAuctionStop").on("change", function() {
                // Get the input values
                const dateAuctionStart = $("#dateAuctionStart").val();
                const timeAuctionStart = $("#timeAuctionStart").val();
                const dateAuctionStop = $("#dateAuctionStop").val();
                const timeAuctionStop = $("#timeAuctionStop").val();

                console.log("Raw inputs:", {
                        dateAuctionStart,
                        timeAuctionStart,
                        dateAuctionStop,
                        timeAuctionStop
                    });

                    // Ensure all inputs are filled
                    if (!dateAuctionStart || !timeAuctionStart || !dateAuctionStop || !timeAuctionStop) {
                        $("#auction_total_time").text("Please fill in all date and time fields.");
                        return;
                    }

                    try {
                         // Convert 12-hour times to 24-hour format
                        function convertTo24Hour(time12h) {
                            const [time, modifier] = time12h.split(' ');
                            let [hours, minutes] = time.split(':');
                            
                            if (hours === '12') {
                                hours = '00';
                            }
                            
                            if (modifier === 'PM') {
                                hours = parseInt(hours, 10) + 12;
                            }
                            
                            return `${hours.toString().padStart(2, '0')}:${minutes}`;
                        }

                        // Parse dates properly
                        function parseDate(dateStr, timeStr) {
                            const [month, day, year] = dateStr.split(' ');
                            const time24 = convertTo24Hour(timeStr);
                            const monthNum = new Date(`${month} 1, 2000`).getMonth() + 1;
                            return new Date(`${year}-${monthNum.toString().padStart(2, '0')}-${day.replace(',', '')}T${time24}:00`);
                        }

                        const startDateTime = parseDate(dateAuctionStart, timeAuctionStart);
                        const endDateTime = parseDate(dateAuctionStop, timeAuctionStop);

                        console.log("Parsed dates:", {
                            startDateTime,
                            endDateTime
                        });

                        // Validate parsed dates
                        if (isNaN(startDateTime.getTime()) || isNaN(endDateTime.getTime())) {
                            $("#auction_total_time").text("Invalid date/time input.");
                            return;
                        }

                        // Calculate difference in milliseconds
                        const totalTimeMs = endDateTime - startDateTime;

                        // Prevent negative time calculations
                        if (totalTimeMs < 0) {
                            $("#auction_total_time").text("End time must be after start time.");
                            return;
                        }

                        // Calculate time components
                        const days = Math.floor(totalTimeMs / (1000 * 60 * 60 * 24));
                        const remainingHours = Math.floor((totalTimeMs % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const remainingMinutes = Math.floor((totalTimeMs % (1000 * 60 * 60)) / (1000 * 60));

                        // Display the result with correct time units
                        $("#auction_total_time").text(`${days} days, ${remainingHours} hours, and ${remainingMinutes} minutes`);
                    } catch (error) {
                        console.error("Error calculating time:", error);
                        $("#auction_total_time").text("Error calculating auction duration");
                    }
                });

        $('.sidenav').sidenav();
        M.updateTextFields();
    });
</script>