<div class="row">
  <div class="col s12 m12 l12">
    <div class="card" id="loginCard">
      <div class="card-content">
        <!-- Navbar goes here -->

        <!-- Page Layout here -->
        
          <div class="nav-wrapper">
            <a href="" class="brand-logo"></a>
            <div class="col s2">
              <img class="responsive-img circle hide-on-small-only" src="./resources/SAGL.png" alt="Avatar">
            </div>
          </div>
        
        <div class="row">
          <div class="valign-wrapper col s12 m5 l5">
            <img class="responsive-img loginPic"
              src="https://i.pinimg.com/564x/39/c1/f6/39c1f6e54cc6e87569c00c91d035bb6c.jpg">
          </div>

          <div class="col s12 m6 l4">
            <div class="row">
              <div class="col s12 m10 l10">
                <div class="card hoverable" id="loginCard2">
                  <div class="card-content" style="padding: 5px !important;">
                    <h2>Member Login</h2>

                    <div class="card-content" style="padding: 5px !important;">
                      <div class="container loginForm">
                        <div class="row">
                          <div class="col-md-12 col-md-offset-3">

                            <form class="login">
                              <div class="form-group">
                                <i class="material-icons prefix">email</i>
                                <label for="exampleInputEmail1"></label>
                                <input type="email" class="form-control col s12 hoverable" id="email-input" placeholder="Email" autocomplete="username">
                              </div>
                              <div class="form-group">
                                <i class="material-icons prefix">lock</i>
                                <label for="exampleInputPassword1"></label>
                                <input type="password" class="form-control col s12" id="password-input" placeholder="Password" autocomplete="current-password">
                              </div>
                              <br>
                              <button type="submit" class="btn btn-default red darken-4 waves-effect waves-light hoverable" id="logInButton">Login</button>
                            </form>
                            <br />
                            <p><b>Or</b></p><br />
                            <p><a href="/signup" class="btn btn-default red darken-4 waves-effect waves-light hoverable">Sign Up Here</a></p>
                              {{#if expressFlash}}
                                  <p><strong>ERROR via Express-Flash!</strong> {{ flash }}</p>
                              {{/if}}

                              {{#if sessionFlash.message}}
                                  <div class="{{ sessionFlash.type }}">
                                      <strong>ERROR via Session-FLASH!</strong> {{ sessionFlash.message }}
                                  </div>
                              {{/if}}

                              <h3 id="create-err-msg">{{flash}}</h3>

                              <h3 id="err-msg">{{flash}}</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/login.js"></script>